In [1]:
#let's install selenium
!!pip install selenium

['Requirement already satisfied: selenium in c:\\users\\admin\\anaconda3\\lib\\site-packages (3.141.0)',
 'Requirement already satisfied: urllib3 in c:\\users\\admin\\anaconda3\\lib\\site-packages (from selenium) (1.25.11)']

In [2]:
#let's import all necessary libraries
import pandas as pd
import selenium
from selenium import webdriver

In [3]:
#import chromedirver
driver=webdriver.Chrome("chromedriver.exe")

# Question 1
. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [22]:
#get the url
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"

In [23]:
driver.get(url)

In [52]:
#let's scrape all data
rank=[]
name=[]
Artist=[]
date=[]
views=[]
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[1]"):
    rank.append(i.text)
for j in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]"):
    name.append(j.text)
for k in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]"):
    Artist.append(k.text)
for l in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]"):
    views.append(l.text)
for m in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]"):
    date.append(m.text)

In [53]:
#create dataframe
Most_viewed_videos=pd.DataFrame({})

In [56]:
Most_viewed_videos['Rank']=rank[:30]
Most_viewed_videos['Name']=name[:30]
Most_viewed_videos['Artist']=Artist[:30]
Most_viewed_videos['Uploaded date']=date[:30]
Most_viewed_videos['Views(in billions)']=views[:30]
Most_viewed_videos

,Rank,Name,Artist,Uploaded date,Views(in billions)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.91
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.43
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.53
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.37
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.16
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.44
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.26
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.22
8,9.,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.22
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.11
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",3.97
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.50
12,13.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.45
13,14.,"""Dame Tu Cosita""[39]",El Chombo,"April 5, 2018",3.43
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.38
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.33
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.28
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.13
18,19.,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.10
19,20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.09
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.07
21,22.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.06
22,23.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.06
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.06
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.02
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.94
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.89
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,"June 4, 2010",2.87
28,29.,"""Axel F""[54]",Crazy Frog,"June 16, 2009",2.86
29,30.,"""Hello""[55]",Adele,"October 22, 2015",2.85

# Question 2
Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [125]:
#get the url
url=" https://www.bcci.tv/"
driver.get(url)

In [126]:
#let's click on international fixture
fix=[]
fix1=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']//li/a")
fix.append(fix1.get_attribute('href'))
fix

['https://www.bcci.tv/international/fixtures']

In [127]:
for i in fix:
    driver.get(i)

In [128]:
#Let's scrape all data
title=[]
place=[]
date=[]
time=[]
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong"):
    title.append(i.text)
for j in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    place.append(j.text)
for k in driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']/strong"):
    date.append(k.text)
for l in driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']"):
    time.append(l.text)

time

['Tuesday 13 July 14:30 IST',
 'Friday 16 July 14:30 IST',
 'Sunday 18 July 14:30 IST',
 'Wednesday 21 July 19:00 IST',
 'Friday 23 July 19:00 IST',
 'Sunday 25 July 19:00 IST',
 'Wednesday 4 August 15:30 IST',
 'Thursday 12 August 15:30 IST',
 'Wednesday 25 August 15:30 IST',
 'Thursday 2 September 15:30 IST',
 'Friday 10 September 15:30 IST']

In [129]:
t1=[]
for i in time:
    t1.append(i.split()[3:])

In [130]:
t1

[['14:30', 'IST'],
 ['14:30', 'IST'],
 ['14:30', 'IST'],
 ['19:00', 'IST'],
 ['19:00', 'IST'],
 ['19:00', 'IST'],
 ['15:30', 'IST'],
 ['15:30', 'IST'],
 ['15:30', 'IST'],
 ['15:30', 'IST'],
 ['15:30', 'IST']]

In [131]:
series=[]
for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    series.append(i.text)
series

['SRI LANKA V INDIA 2021',
 'SRI LANKA V INDIA 2021',
 'SRI LANKA V INDIA 2021',
 'SRI LANKA V INDIA 2021',
 'SRI LANKA V INDIA 2021',
 'SRI LANKA V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021']

In [132]:
#create dataframe
Indias_international_fixtures=pd.DataFrame({})

In [133]:
Indias_international_fixtures['Match title']=title
Indias_international_fixtures['Series']=series
Indias_international_fixtures['Place']=place
Indias_international_fixtures['Date']=date
Indias_international_fixtures['time']=t1
Indias_international_fixtures

,Match title,Series,Place,Date,time
0,1st ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Tuesday 13 July,"[14:30, IST]"
1,2nd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Friday 16 July,"[14:30, IST]"
2,3rd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Sunday 18 July,"[14:30, IST]"
3,1st T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Wednesday 21 July,"[19:00, IST]"
4,2nd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Friday 23 July,"[19:00, IST]"
5,3rd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Sunday 25 July,"[19:00, IST]"
6,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4 August,"[15:30, IST]"
7,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",Thursday 12 August,"[15:30, IST]"
8,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25 August,"[15:30, IST]"
9,4th Test,ENGLAND V INDIA 2021,"The Oval, London",Thursday 2 September,"[15:30, IST]"
10,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10 September,"[15:30, IST]"

# Question 3
Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [134]:
#get the website
url='https://www.guru99.com/'
driver.get(url)

In [142]:
#get the link for selenium exeption handling article
se=[]
s=driver.find_element_by_xpath("//ul[@id='java_technologies']//li[3]/a")
se.append(s.get_attribute("href"))
se

['https://www.guru99.com/selenium-tutorial.html']

In [143]:
for i in se:
    driver.get(i)

In [147]:
sel=[]
s=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
sel.append(s.get_attribute('href'))
sel

['https://www.guru99.com/exception-handling-selenium.html']

In [148]:
for i in sel:
    driver.get(i)

In [149]:
#scrape data 
name=[]
desc=[]
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[1]"):
    name.append(i.text)
for j in driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[2]"):
    desc.append(j.text)

In [152]:
#create dataframe
Selenium_expection=pd.DataFrame({})

In [153]:
Selenium_expection['Exception_name']=name[1:]
Selenium_expection['Exception_Description']=desc[1:]
Selenium_expection

,Exception_name,Exception_Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Question 4
Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)

In [155]:
#get the website
url="http://statisticstimes.com/"
driver.get(url)

In [168]:
#go to economy page and select india's state wise GDP
c1=[]
c= driver.find_element_by_xpath("//div[@class='dropdown-content']//a[3]")
c1.append(c.get_attribute("href"))
c1

['http://statisticstimes.com/economy/india-statistics.php']

In [169]:
for i in c1:
    driver.get(i)

In [170]:
rank=[]
state=[]
gsdp_19=[]
gsdp_18=[]
share=[]
gdp=[]
for i in driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[1]"):
    rank.append(i.text)
for j in driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[2]"):
    state.append(j.text)
for k in driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[3]"):
    gsdp_19.append(k.text)
for l in driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[4]"):
    gsdp_18.append(l.text)
for m in driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[5]"):
    share.append(m.text)
for n in driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[6]"):
    gdp.append(n.text)

In [175]:
#create dataframe
State_wise_GDP_of_India=pd.DataFrame({})

In [176]:

State_wise_GDP_of_India['Rank']=rank
State_wise_GDP_of_India['State']=state
State_wise_GDP_of_India['GSDP at current price (19-20)']=gsdp_19
State_wise_GDP_of_India['GSDP at current price (18-19)']=gsdp_18
State_wise_GDP_of_India['Share']=share
State_wise_GDP_of_India['GDP']=gdp
State_wise_GDP_of_India

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share,GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Question 5
Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [26]:
 from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [5]:
#get the website
url="https://github.com/"
driver.get(url)

In [6]:
#go to trending repository page
ex=[]
e=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']//li[3]/a")
ex.append(e.get_attribute("href"))
ex

['https://github.com/trending']

In [7]:
#Make empty lists and extract name,description,contributors count,language used
name=[]
desc=[]
count=[]
lang=[]
for i in ex:
    driver.get(i)    
    
    try:
        n1 = driver.find_element_by_xpath("//h1[@class='h3 lh-condensed']")      
        name.append(n1.text)
    except NoSuchElementException:
        name.append('-')    


    
    try:
        d1 = driver.find_element_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")      
        desc.append(d1.text)
    except NoSuchElementException:
        desc.append('-')


      
       
    try:
        l1 = driver.find_element_by_xpath("//span[@class='d-inline-block ml-0 mr-3']//span[2]")  
        lang.append(l1.text)
    except NoSuchElementException:
        lang.append('-')

In [22]:
count=[]
c2=[]
for i in driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']"):
    count.append(i.text)
    
    
len(count)

50

In [24]:
for i in range(0,len(count),2):
    c2.append(count[i+1])
c2

['18,725',
 '7,698',
 '172',
 '8,620',
 '329',
 '21,423',
 '5,132',
 '137',
 '2,645',
 '6,754',
 '4,721',
 '6,844',
 '3,517',
 '1,042',
 '25,279',
 '33',
 '355',
 '43,244',
 '9',
 '1,368',
 '681',
 '5,439',
 '3,737',
 '7,366',
 '48']

In [25]:
#create empty dataframe
Github=pd.DataFrame({})

In [27]:
#filling data into empty dataframe
Github['Repository title']=name
Github['Repository description']=desc
Github['Contributors count']=c2
Github['Langauge used']=lang
Github

,Repository title,Repository description,Contributors count,Langauge used
0,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,"18,725",JavaScript
1,swisskyrepo / PayloadsAllTheThings,A list of useful payloads and bypass for Web A...,"7,698",Python
2,microsoft / IoT-For-Beginners,"12 Weeks, 24 Lessons, IoT for All!",172,C++
3,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...,"8,620",JavaScript
4,laynH / Anime-Girls-Holding-Programming-Books,Anime Girls Holding Programming Books,329,-
5,airbnb / javascript,JavaScript Style Guide,"21,423",JavaScript
6,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,"5,132",C++
7,shufflewzc / faker2,不知名大佬备份,137,JavaScript
8,elsewhencode / project-guidelines,A set of best practices for JavaScript projects,"2,645",JavaScript
9,ryanmcdermott / clean-code-javascript,🛁 Clean Code concepts adapted for JavaScript,"6,754",JavaScript
10,lydiahallie / javascript-questions,A long list of (advanced) JavaScript questions...,"4,721",-
11,goldbergyoni / nodebestpractices,✅ The Node.js best practices list (June 2021),"6,844",JavaScript
12,sorrycc / awesome-javascript,🐢 A collection of awesome browser-side JavaScr...,"3,517",-
13,chefyuan / algorithm-base,专门为刚开始刷题的同学准备的算法基地，没有最细只有更细，立志用动画将晦涩难懂的算法说的通俗易懂！,"1,042",Java
14,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,"25,279",Python
15,nikolaydubina / go-recipes,Handy commands to run in Go projects,33,-
16,CaffeineMC / sodium-fabric,A Fabric mod designed to improve frame rates a...,355,Java
17,EbookFoundation / free-programming-books,📚 Freely available programming books,"43,244",-
18,rosinality / alias-free-gan-pytorch,Unofficial implementation of Alias-Free Genera...,9,Python
19,jklepatch / eattheblocks,"Source code for Eat The Blocks, a screencast f...","1,368",JavaScript
20,TheAlphamerc / flutter_ecommerce_app,E-Commerce App built in flutter,681,Dart
21,ytdl-org / youtube-dl,Command-line program to download videos from Y...,"5,439",Python
22,topjohnwu / Magisk,The Magic Mask for Android,"3,737",C++
23,godotengine / godot,Godot Engine – Multi-platform 2D and 3D game e...,"7,366",C++
24,austinsonger / Incident-Playbook,GOAL: Incident Response Playbooks Mapped to MI...,48,Python

# Question 6
Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [145]:
#get the website
url="https://www.billboard.com/"
driver.get(url)

In [147]:
#go to 100 hot songs page
s=[]
songs=driver.find_element_by_xpath("//li[@class='header__submenu__list__element']/a")
s.append(songs.get_attribute("href"))
s

['https://www.billboard.com/charts/hot-100']

In [148]:
for i in s:
    driver.get(i)

In [150]:
#scrape name,artist,rank,peak,weeks data 
name=[]
artist=[]
rank=[]
peak=[]
weeks=[]
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    name.append(i.text)
for j in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    artist.append(j.text)
for k in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    rank.append(k.text)
for l in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    peak.append(l.text)
for m in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    weeks.append(m.text)

In [152]:
#create empty dataframe and filling data into empty dataframe
Top_100_Song=pd.DataFrame({})
Top_100_Song['Song Name']=name
Top_100_Song['Artist Name']=artist
Top_100_Song['Last Week Rank']=rank
Top_100_Song['Peak Rank']=peak
Top_100_Song['Weeks On Board ']=weeks
Top_100_Song

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Butter,BTS,1,1,6
1,Good 4 U,Olivia Rodrigo,2,1,7
2,Kiss Me More,Doja Cat Featuring SZA,4,3,12
3,Levitating,Dua Lipa Featuring DaBaby,3,2,39
4,Bad Habits,Ed Sheeran,-,5,1
...,...,...,...,...,...
95,Twerkulator,City Girls,96,51,4
96,Tombstone,Rod Wave,83,11,14
97,Miss The Rage,Trippie Redd & Playboi Carti,82,11,8
98,Rise!,"Tyler, The Creator Featuring Daisy World",-,99,1
99,Working,Tate McRae X Khalid,94,94,2

# Question 7
Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [28]:
#get the website
url="https://www.naukri.com/"
driver.get(url)

In [29]:
#go to recruiters page
rec=[]
r=driver.find_element_by_xpath("//div[@class='subMenu']//a")
rec.append(r.get_attribute("href"))
rec

['https://www.naukri.com/recruiters/browse-all-recruiters']

In [30]:
for i in rec:
    driver.get(i)

In [31]:
#do search for data science field
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data science")

In [32]:
#do click
driver.find_element_by_id("qsbFormBtn").click()

In [33]:
#scrape name,designation,compnay name,skill they require,location data
name=[]
des=[]
comp=[]
skill=[]
loc=[]
 
try:
    n1=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
    for i in n1:
        
        name.append(i.text)
except NoSuchElementException:
    name.append("--")

try:
    d1=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
    for j in d1:
        
        des.append(j.text)
except NoSuchElementException:
    des.append("--")

try:
    c1=driver.find_elements_by_xpath("//a[@class='ellipsis']")
    for k in c1:
        
        comp.append(k.text)
except NoSuchElementException:
            comp.append("--")

try:
    s1=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    for l in s1:
        
        skill.append(l.text)
except NoSuchElementException:
    skill.append("--")

try:
    l1=driver.find_elements_by_xpath("//small[@class='ellipsis']")
    for m in l1:
        
        #  for m in driver.find_elements_by_xpath("//small[@class='ellipsis']"):
        loc.append(m.text)
except NoSuchElementException:
    loc.append("--")

In [42]:
#do click on next page
driver.find_element_by_xpath("//button[@class='grayBtn']").click()

In [43]:
#scrape same data for next page
name1=[]
des1=[]
comp1=[]
skill1=[]
loc1=[]


for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
        
        try:
            name1.append(i.text)
        except NoSuchElementException:
            name1.append("--")
for j in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
        try:
            des1.append(j.text)
        except NoSuchElementException:
            des1.append("--")
for k in driver.find_elements_by_xpath("//a[@class='ellipsis']"):
        try:
            comp1.append(k.text)
        except NoSuchElementException:
            comp1.append("--")
for l in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
        try:
            skill1.append(l.text)
        except NoSuchElementException:
            skill1.append("--")
for m in driver.find_elements_by_xpath("//small[@class='ellipsis']"):
        try:
        #  for m in driver.find_elements_by_xpath("//small[@class='ellipsis']"):
             loc1.append(m.text)
        except NoSuchElementException:
             loc1.append("--")

In [51]:
c1=[]
c2=[]
for i in range(0,len(comp),2):
    c1.append(comp[i+1])
for j in range(0,len(comp1),2):
    c2.append(comp1[j+1])

In [52]:
#mearging data
n1=name+name1
d=des+des1
co=c1+c2
l1=loc+loc1
s1=skill+skill1

In [53]:
#create empty dataframe and filling data into that dataframe
Data_science_recruiters=pd.DataFrame({})
Data_science_recruiters['Name']=n1
Data_science_recruiters['Designation']=d
Data_science_recruiters['Company Name']=co
Data_science_recruiters['Location']=l1
Data_science_recruiters['Skill they hire for']=s1
Data_science_recruiters

,Name,Designation,Company Name,Location,Skill they hire for
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
...,...,...,...,...,...
95,Sai Theja,Operations Lead,Sumyag Data Sciences Private Limited,Chandigarh,"Data Science, Engineering, Data Analysis, Big ..."
96,Roshan Menugu,Company Recruiter,Cyient Limited,Chennai,Not Specified
97,Sagar Software Solutions Pvt. Ltd.,HR Executive,Sagar Software Solutions Pvt. Ltd.,--,"Html, Css, Javascript, Jquery, Php, Python, Da..."
98,Talent Acquisition Team,Recruitment Professional,XenonStack,--,"Web Designing, html5, Angular.js, seo, hadoop,..."
99,Mukesh Kumar,Company Recruiter,Tata Consultancy Services Ltd.,--,"Datastage, Big Data, Data Science, Hadoop, Inf..."

# Question 8
Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ You have to find the following details:  A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [70]:
#get the webpage
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [72]:
#scrape data for book name,author name,volumes sold,publisher,genre data
b_name=[]
a_name=[]
volume=[]
publisher=[]
genre=[]
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[2]"):
    b_name.append(i.text)
for j in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[3]"):
    a_name.append(j.text)
for k in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[4]"):
    volume.append(k.text)
for l in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[5]"):
    publisher.append(l.text)
for m in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[6]"):
    genre.append(m.text)

In [74]:
#creating empty data frame nad filling data into dataframe
Highest_selling_novels=pd.DataFrame({})
Highest_selling_novels['Book Name']=b_name
Highest_selling_novels['Author Name']=a_name
Highest_selling_novels['VolumeSales']=volume
Highest_selling_novels['Publisher']=publisher
Highest_selling_novels['Genre']=genre
Highest_selling_novels

,Book Name,Author Name,VolumeSales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question 9
 Scrape the details most watched tv series of all time from imdb.com.   Url =  https://www.imdb.com/list/ls095964455/  You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [75]:
#get the web page
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [79]:
#scrape data 
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a"):
    name.append(i.text)
for j in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    year_span.append(j.text)
for k in driver.find_elements_by_xpath("//span[@class='genre']"):
    genre.append(k.text)
for l in driver.find_elements_by_xpath("//span[@class='runtime']"):
    run_time.append(l.text)
for m in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
    ratings.append(m.text)
for n in driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[2]"):
    votes.append(n.text)
votes

['|',
 '1,832,390',
 '|',
 '871,369',
 '|',
 '878,051',
 '|',
 '263,815',
 '|',
 '225,377',
 '|',
 '283,330',
 '|',
 '125,821',
 '|',
 '263,026',
 '|',
 '316,246',
 '|',
 '413,158',
 '|',
 '336,077',
 '|',
 '739,553',
 '|',
 '465,141',
 '|',
 '833,642',
 '|',
 '454,490',
 '|',
 '155,106',
 '|',
 '291,674',
 '|',
 '283,502',
 '|',
 '1,536,185',
 '|',
 '257,427',
 '|',
 '401,235',
 '|',
 '489,544',
 '|',
 '134,952',
 '|',
 '131,795',
 '|',
 '373,399',
 '|',
 '211,770',
 '|',
 '372,471',
 '|',
 '372,391',
 '|',
 '870,407',
 '|',
 '620,382',
 '|',
 '372,376',
 '|',
 '343,503',
 '|',
 '121,700',
 '|',
 '114,640',
 '|',
 '158,259',
 '|',
 '143,289',
 '|',
 '215,378',
 '|',
 '441,504',
 '|',
 '196,895',
 '|',
 '373,210',
 '|',
 '401,976',
 '|',
 '55,680',
 '|',
 '155,655',
 '|',
 '474,727',
 '|',
 '308,346',
 '|',
 '57,091',
 '|',
 '173,678',
 '|',
 '211,860',
 '|',
 '198,988',
 '|',
 '204,109',
 '|',
 '155,230',
 '|',
 '660,403',
 '|',
 '117,150',
 '|',
 '310,884',
 '|',
 '210,125',
 '|',
 '509,048',
 '|',
 '385,064',
 '|',
 '423,908',
 '|',
 '57,961',
 '|',
 '103,777',
 '|',
 '321,026',
 '|',
 '67,901',
 '|',
 '94,991',
 '|',
 '190,973',
 '|',
 '81,740',
 '|',
 '68,384',
 '|',
 '41,083',
 '|',
 '139,238',
 '|',
 '338,193',
 '|',
 '244,777',
 '|',
 '102,337',
 '|',
 '172,736',
 '|',
 '512,405',
 '|',
 '93,986',
 '|',
 '119,048',
 '|',
 '343,667',
 '|',
 '99,654',
 '|',
 '192,668',
 '|',
 '65,086',
 '|',
 '16,353',
 '|',
 '115,249',
 '|',
 '125,332',
 '|',
 '117,941',
 '|',
 '32,516',
 '|',
 '232,424',
 '|',
 '114,398',
 '|',
 '119,435',
 '|',
 '68,412',
 '|',
 '93,787',
 '|',
 '166,233',
 '|',
 '23,815',
 '|',
 '169,297',
 '|',
 '167,538',
 '|',
 '587,514',
 '|',
 '61,848',
 '|',
 '44,743',
 '|',
 '55,316',
 '|',
 '169,085',
 '|',
 '35,063',
 '|',
 '192,931']

In [81]:
v=[]
for i in range(0,len(votes),2):
    v.append(votes[i+1])
len(v)

100

In [82]:
#creating dataframe and filling data into dataframe
most_watched_tv_series=pd.DataFrame({})
most_watched_tv_series['Name of the series']=name 
most_watched_tv_series['Year span']=year_span 
most_watched_tv_series['Genre']=genre 
most_watched_tv_series['Run_Time']=run_time 
most_watched_tv_series['Ratings']=ratings
most_watched_tv_series['Votes']=v
most_watched_tv_series

,Name of the series,Year span,Genre,Run_Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,832,390"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"871,369"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"878,051"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"263,815"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"225,377"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,743"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,316"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"169,085"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,063"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"192,931"

# Question 10
Details of Datasets from UCI machine learning repositories.       Url = https://archive.ics.uci.edu/       You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

In [84]:
#get the website
url='https://archive.ics.uci.edu/'
driver.get(url)

In [89]:
#go to all datasets page
data=[]
d=driver.find_element_by_xpath("//tbody//tr//td[2]//span[2]//a")
data.append(d.get_attribute("href"))
data

['https://archive.ics.uci.edu/ml/datasets.php']

In [90]:
for i in data:
    driver.get(i)

In [142]:
#scrap dataset name,data type,task,attribute type,no.of instance,no of attribute,year
name=[]
type1=[]
task=[]
attribute=[]
instance=[]
no_att=[]
year=[]
for i in driver.find_elements_by_xpath("//html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td[1]//table//tbody//tr//td[2]//p//b//a"):
    try:
        
        name.append(i.text)
    except NoSuchElementException:
        name.append("--")
for j in driver.find_elements_by_xpath("//html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td[2]/p"):
    try:
        type1.append(j.text)
    except NoSuchElementException:
        type1.append("--")

for k in driver.find_elements_by_xpath("//html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td[3]/p"):
    try:
        task.append(k.text)
    except NoSuchElementException:
        task.append("--")
for l in driver.find_elements_by_xpath("//html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td[4]/p"):
    try:
        attribute.append(l.text)
    except NoSuchElementException:
        attribute.append("--")
for m in driver.find_elements_by_xpath("//html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td[5]/p"):
    try:
         instance.append(m.text)
    except NoSuchElementException:
        instance.append("--")
for n in driver.find_elements_by_xpath("//html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td[6]/p"):
    try:
        no_att.append(n.text)
    except NoSuchElementException:
        no_att.append("--")
for o in driver.find_elements_by_xpath("//html//body//table[2]//tbody//tr//td[2]//table[2]//tbody//tr//td[7]/p"):
    try:
        year.append(o.text)
    except NoSuchElementException:
        year.append("--")

In [143]:
t=[]
for i in range(0,len(type1),2):
    t.append(type1[i])
t

['Data Types',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Univariate, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Data-Generator ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Univariate, Time-Series ',
 'Multivariate, Spatial ',
 'Multivariate ',
 'Multivariate, Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Data-Generator ',
 ' ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Relational ',
 'Multivariate ',
 'Multivariate, Data-Generator ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Sequential, Domain-Theory ',
 'Sequential ',
 'Sequential, Domain-Theory ',
 'Multivariate ',
 'Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Domain-Theory ',
 'Multivariate, Data-Generator ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Domain-Theory ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Data-Generator ',
 'Multivariate, Data-Generator ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Text ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Relational ',
 'Multivariate, Time-Series ',
 'Spatio-temporal ',
 'Transactional, Sequential ',
 'Image ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Relational ',
 'Multivariate, Relational ',
 'Sequential ',
 'Text ',
 'Multivariate, Time-Series ',
 'Univariate, Time-Series ',
 'Text ',
 'Multivariate, Time-Series ',
 'Time-Series ',
 'Multivariate, Text ',
 'Text, Sequential ',
 'Image ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Domain-Theory ',
 ' ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Text ',
 'Multivariate ',
 'Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate, Time-Series ',
 'Univariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Text ',
 'Domain-Theory ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Time-Series ',
 'Time-Series ',
 'Multivariate, Text, Domain-Theory ',
 'Time-Series, Domain-Theory ',
 'Multivariate, Text, Domain-Theory ',
 'Text ',
 'Text ',
 'Multivariate, Univariate, Text ',
 'Multivariate, Univariate, Text ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Univariate ',
 'Multivariate, Text, Domain-Theory ',
 'Univariate ',
 'Univariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Univariate, Text ',
 'Sequential ',
 'Text ',
 'Multivariate, Time-Series ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Sequential, Text ',
 'Multivariate, Univariate, Time-Series ',
 'Time-Series, Multivariate ',
 'Multivariate ',
 'Sequential ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Domain-Theory ',
 'Multivariate, Text ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series, Text ',
 'Univariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 ' ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Univariate, Sequential, Time-Series ',
 'Univariate, Sequential, Time-Series ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Univariate, Domain-Theory ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 ' ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Text ',
 'Time-Series ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Univariate, Sequential, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series, Domain-Theory ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series, Domain-Theory ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Text ',
 'Multivariate, Text ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Sequential, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 ' ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 ' ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Time-Series ',
 'Text ',
 ' ',
 ' ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Sequential, Text ',
 'Multivariate, Text ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 ' ',
 'Sequential ',
 'Univariate ',
 'Univariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Univariate, Domain-Theory ',
 'Multivariate ',
 'Text ',
 'Sequential ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Univariate ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Text ',
 'Time-Series ',
 'Multivariate, Text ',
 'Multivariate, Time-Series ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Univariate ',
 'Multivariate ',
 'Multivariate ',
 'Univariate ',
 'Time-Series ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate, Univariate, Sequential, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Text ',
 'Multivariate, Text ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate, Univariate ',
 'Multivariate, Sequential ',
 'Text ',
 'Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series, Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Time-Series, Text ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series, Text ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Sequential, Time-Series ',
 'Multivariate, Univariate ',
 'Multivariate ',
 'Multivariate, Univariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate, Time-Series ',
 'Univariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Sequential ',
 'Sequential, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Text ',
 'Text ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate ',
 'Time-Series ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Sequential, Time-Series ',
 'Time-Series ',
 'Multivariate ',
 'Sequential ',
 'Multivariate ',
 'Text ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate, Text ',
 'Multivariate, Time-Series ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Time-Series ',
 'Time-Series ',
 'Multivariate ']

In [144]:
#create dataframe and filling data into that dataframe
Datasets=pd.DataFrame({})
Datasets["Dataset Name"]=name
Datasets["Data Types"]=t[1:]
Datasets["Default Task"]=task[1:]
Datasets["Attributes Type"]=attributes[1:]
Datasets["Instances"]=instance[1:]
Datasets["Number of Attributes"]=no_att[1:]
Datasets["Year"]=year[1:]
Datasets

,Dataset Name,Data Types,Default Task,Attributes Type,Instances,Number of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021